nav.navbar {
    padding: 0 12px;
    background: linear-gradient(117.87deg, #090B19 42.87%, #102A47 99.67%);
    width: 100%;
    border-bottom: 1px solid rgba(73, 153, 254, 0.4);
}
 a.navbar-brand {
    border-right: 1px solid rgba(73, 153, 254, 0.4);
    padding-right: 25px;
}

.notification-list {
    margin-left: 0;
}
.list-unstyled .dropdown-toggle::after {
    display: none;
}
li.dropdown.bxfullnav-list small {
    display: block;color:#fff;font-size: 12px;
}
.navbar-custom .topbar-menu .bxfullnav-list .nav-link {
    text-align: left;
    margin: 0;
}
.navbar-custom .topbar-menu .nav-link {
    padding: 0;
    color: #fff;
    min-width: 32px;
    display: block;
    text-align: center;
    margin: 0 7px;
    position: relative;
}
.navbar-custom .logo-topbar {
    display: inline-block;
    float: left;
    line-height: 70px;
    padding-right: 25px;
}
.nav-user {
    padding: calc(31px * .5) 20px calc(31px * .5) 57px!important;
    text-align: left!important;
    position: relative;
    background-color: transparent;
    min-height: 70px;
    -webkit-transition: none;
    transition: none;
}
.nav-user .account-user-avatar {
    position: absolute;
    top: calc(38px * .5);
    left: 15px;
}
.nav-user .account-user-avatar img {
    height: 32px;
    width: 32px;
}
.nav-user .account-user-name {
    display: block;
    font-weight: 400;
    margin-top: 10px;
    font-size: 14px;
}
.nav-user .account-position {
    display: block;
    font-size: 12px;
    margin-top: -3px;
}
.notification-list .noti-icon {
    font-size: 22px;
    vertical-align: middle;
    line-height: 70px;
}
.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 6px;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    background-color: #fa5c7c;
}
.dropdown-menu-animated.dropdown-menu-end[style] {
    left: auto;
    right: 0;
}
.dropdown-menu-animated {
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    margin: 0;
    z-index: 1000;
}
.dropdown-menu-animated.show {
    top: 100%!important;
}
.dropdown-menu.show {
    display: block;
}
.navbar .dropdown-fullwidth {
    position: static;
}
.navbar .dropdown-fullwidth .dropdown-menu {
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem 0;
    right: 0;
    top: 70px;
    background: #0E2948;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.bxNavlist a,
.nav-link {
    color: #fff;
}
.bxNavlist a small{
    color: #C5C6CC;
}
.navbar-nav a.nav-link.dropdown-toggle {
    position: relative;
    padding-top: 0;
}
.navbar-nav a.nav-link.dropdown-toggle small {
    position: absolute;
    left: 9px;
    bottom: -10px;
    font-size: 12px;
}
.bxNavlist {
    background-color: #010F33;
    color: #fff;
}
.bxNavlist h5{
    font-size: 20px;
    font-weight: 700;
}
.topbar-menu i {
    font-size: 22px;
    opacity: 0.7;
}
.notification-list .nav-link span {
    display: inline-block;
    top: 10px;
    right: 18px;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #010F33;
    text-align: center;
    z-index: 11;
}
#left-switch {
    float: left;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.collapse-sidebar {
    position: absolute;
    text-align: center;
    left: 100%;
    top: 0;
    width: 28px;
    height: 28px;
    padding: 0;
    background: #717171;
    z-index: 1;
    color: #fff;
    cursor: pointer!important;
    border-radius: 0 0 4px;
}
.collapse-sidebar i {
    font-size: 20px;
}
button.arrow-none::after{
    display: none;
}
.left-sidebar {
    width: 700px;
    background-color: #010F33;
    box-shadow: 6px 0 30px 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 2;
}
.right-section {
    width: calc(100% - 700px);
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding: 20px 30px;
}
#left-switch.collapsed{
    margin-left: -700px;
}
.right-section.left-collapsed{
    width: 100%;
}


@-webkit-keyframes DropDownSlide {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes DropDownSlide {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}
@media (max-width: 767px){
    a.navbar-brand {
        border-right: none;
        padding-right: 0;
    }
    a.navbar-brand img{
        height: 20px;
    }
    .list-unstyled li a.nav-link {
        padding: 0 5px !important;
    }
    .nav-user .account-user-avatar {
        position: relative;
        left: 3px;
    }
}
@media (min-width: 576px){
.dropdown-lg {
    width: 320px;
}
.dropdown-full{
    width: 100%;
}

}