#left-switch {
    float: left;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.collapse-sidebar {
    position: absolute;
    text-align: center;
    left: 100%;
    top: 0;
    width: 28px;
    height: 28px;
    padding: 0;
    background: #717171;
    z-index: 1;
    color: #fff;
    cursor: pointer!important;
    border-radius: 0 0 4px;
}
.collapse-sidebar i {
    font-size: 20px;
}

.left-sidebar {
    width: 700px;
    background-color: #010F33;
    box-shadow: 6px 0 30px 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 2;
    padding: 0;
    overflow: hidden;
}
.leftSearchBoxArea {
    overflow: auto;
    padding-bottom: 55px;
}
.leftResultCount span{
    opacity: 0.6;
}
.sidebar-search {
    width: calc(100% - 50px);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}
.form-control:focus {
    color: inherit;
    background-color: transparent;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
.sidebar-search .input-group {
    align-items: center;
    padding-left: 10px;
}
.sidebar-search input {
    background-color: transparent;
    border: none;
}
.pane-header .dropdown {
    width: auto;
    padding: 0 0 0 20px;
}
.pane-header .dropdown i {
    font-size: 24px;
}
.sidebar-search {
    width: calc(100% - 50px);
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
}
.right-section {
    width: calc(100% - 700px);
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding: 20px 30px;
}
/* .left-section,
.right-section {
    overflow: auto;
} */
#left-switch.collapsed {
    margin-left: -700px;
}
.right-section.left-collapsed {
    width: 100%;
}
.card {
    background-color: transparent;
    border-radius: 0;
    border-top: 1px solid rgba(73, 153, 254, 0.4);
}
.bg-bxinfo {
    background-color: #42667D;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    line-height: 14px;
}
.rightSearchBoxArea label, .leftSearchBoxArea label {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.rightResultActionBtns {
    text-align: right;
    float: right;
}
.rightSearchBoxArea p{
    padding-left: 27px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
}
.leftSearchBoxArea p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
    padding-left: 32px;
}
.leftSearchBoxArea .card:hover {
    background-color: #0F1226;
}
.rightSearchBoxArea label span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rightSearchStatus li {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding-left: 15px;
    position: relative;
    margin-right: 10px;
}
.rightSearchStatus li:after {
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    background: rgba(73, 153, 254, 0.4);
    border-radius: 5px;
    left: 0;
    top: 6px;
}
.rightSideCardLgBox .card .card-body {
    background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
    box-shadow: inset 0px 4px 150px rgba(15, 18, 38, 0.2);
    border-radius: 4px 4px 0px 0px;
    padding: 10px 20px !important;
}
.rightSideCardLgBox .form-check {
    margin-left: 30px;
}
.rightSideCardLgBox .form-check input[type="checkbox"]{
    background-color: transparent;
    border: 1px solid #fff;
}
.rightSideCardLgBox label.form-check-label {
    display: block;
}
.rightSearchStatus li:nth-child(1){
    padding-left: 0;
}
.rightSearchStatus li:nth-child(1)::after {
display: none;
}
.rightSearchStatus li span {
    opacity: .7;
    margin-right: 5px;
}
.bxRightCardTop .card {
    background-color: #0E2948;
    border-radius: 4px;
}
.bxRightCardTop .card h3 {
    font-size: 20px;
}
.bxRightCardTop .card h5 {
    font-size: 14px;
    color: #C5C6CC;
}
.bxRightCardTop .card h3 small {
    font-size: 12px;
}
.bxRightCardTop i {
    font-size: 16px;
}
.bxRightCardTop span {
    font-size: 12px;
}
.rightSearchBoxArea .card .card-body {
    padding-bottom: 5px;
    padding-top: 10px;
}
.bxHash {
    color: #607191;
    font-size: 20px;
}
.rightSearchBoxArea .form-check {
    padding-left: 0;
}
.rightSearchBoxArea .card {
    border-top: 0;
}
.leftSearchBoxArea .form-check input {
    background-color: transparent;
    border: 1px solid #eee;
    margin-right: 20px;
}
.list-inline {
    padding-left: 32px;
}
.bxPagination {
    position: sticky;
    bottom: 20px;
    background-color: #0F1226;
}
.pagination {
    align-items: end;
    justify-content: end;
}
.page-link {
    color: #fff;
    background-color: transparent;
    border: none;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #3C92FF;
    border-radius: 5px;
}
.bxRightSearchBox .rightSidebar-search {
    width: 40px;
    float: left;
    height: 47px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 1px solid #0d6efd;
    border-radius: 4px;
    cursor: pointer;
}
.bxRightSearchBox .rightSidebar-search .search-icon {
    width: 40px;
    text-align: center;
    height: 46px;
    position: absolute;
    left: 0;
    line-height: 2.5;
    cursor: pointer;
    z-index: 999;
}
.bxRightSearchBox .rightSidebar-search input {
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 40px;
}
.bxRightSearchBox .rightSidebar-search button.input-group-text.btn {
    color: #fff;
    padding: 0 10px;
    border: 1px solid #fff;
    line-height: normal;
    height: 22px;
    margin-top: 12px;
    margin-right: 0;
    border-radius: 10px !important;
    overflow: hidden;
    font-size: 12px;
}
.bxCloseSearch {
    position: relative;
    right: 0;
    color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2px;
    font-size: 30px;
}
.bxRightSearchBox .rightSidebar-search.open {
    width: 100%;
}
.bxcolorYellow{
    color: #E8B906;
}
.bxcolorRed{
    color: #D3536C;
}
.bxJsonText {
    color: #C5C6CC;
}
.rightSideCardLgBox a{
    color: #0d6efd;
}
.moretext{display: none;}

.bxAddStreamOffCanvas {
    width: 100%;
    margin-top: 87px;
    max-width: 800px;
}
.bxAddStreamOffCanvas .offcanvas-header {
    background-color: #090B19;
}
.bxAddStreamOffCanvas .offcanvas-header a{
    font-size: 24px;
}
.bxSuggestionTopBar {
    background: #010F33;
    box-shadow: inset 0px 4px 150px rgba(73, 153, 254, 0.2);
    padding: 20px;
}
.bxSearchBtn {
    border: 1px solid #4999FE;
    border-radius: 3px;
    color: #ccc;
}
.bxSuggestionTopBar ul li {
    margin-left: 20px;
    font-size: 14px;
}
.bxSuggestionArea {
    background: #0E2948;
    padding: 10px 20px;
}
.bxSuggestionArea span{
    font-size: 12px;
}
.bxAddCard .card{
    background: #010F33;
}
.bxAddCard label {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.bxAddCard p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
    padding-left: 35px;
}
.bxAddCard .form-check input {
    background-color: transparent;
    border: 1px solid #eee;
    margin-right: 20px;
}
.bxAddCard .card:hover {
    background-color: #0F1226;
}