/*======================================= Stream page css  ============================================= */
.StreamPage .leftSearchBoxArea .list-inline-item {
	margin-bottom: 5px;
}
.collapse-sidebar.left {
    left: auto;
    right: 100%;
    border-radius: 0 0 0 4px;
}
#agents-switch, #tasks-switch {
	float: left;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background-color: #010F33;
}

#agents-switch {
	float: right;
}

.collapse-sidebar {
	position: absolute;
	text-align: center;
	left: 100%;
	top: 0;
	width: 28px;
	height: 28px;
	padding: 0;
	background: #084298;
	z-index: 1;
	color: #fff;
	cursor: pointer!important;
	border-radius: 0 0 4px;
}

.collapse-sidebar i {
	font-size: 20px;
}
.StreamPage #tasks-switch.collapsed{
	margin-left: -550px;
}
.StreamPage #tasks-switch .left-sidebar {
	width: 550px;
	background-color: #010F33;
	transition: 0.5s;
}

.leftSearchBoxArea {
	overflow: hidden;
}

.leftResultCount span {
	opacity: 0.6;
}

.sidebar-search {
	width: calc(100% - 50px);
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
}

.form-control:focus {
	color: inherit;
	background-color: transparent;
	border-color: none;
	outline: 0;
	box-shadow: none;
}

.sidebar-search .input-group {
	align-items: center;
	padding-left: 10px;
}

.sidebar-search input {
	background-color: transparent;
	border: none;
}

.pane-header .dropdown {
	width: auto;
	padding: 0 0 0 20px;
}

.pane-header .dropdown i {
	font-size: 24px;
}

.sidebar-search {
	width: calc(100% - 50px);
	background-color: transparent;
	display: flex;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.6);
}

.StreamPage #map-switch .right-section {
	width: calc(100% - 550px);
    padding: 10px 10px 10px 30px;
	transition: 0.01s;
	overflow: hidden;
	position: relative;
	z-index: 0;
	top: 0;
	vertical-align: top;
}
.StreamPage #map-switch  .right-section.task-collapsed {
	width: 100%;
}

.leftSearchBoxArea .card {
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid #4999FE66;
}

.notification-list h6.m-0.font-16.fw-semibold {
	color: #fff;
}

#agent-switch .card {
	background-color: transparent;
	border-radius: 0;
	border-top: 1px solid rgba(73, 153, 254, 0.4);
}

.bg-bxinfo {
	background-color: #42667D;
	text-transform: uppercase;
	font-family: 'Barlow', sans-serif;
	font-size: 10px;
	line-height: 14px;
}

.rightSearchBoxArea label, .leftSearchBoxArea label {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	vertical-align: top;
	display: inline-block;
}

.rightResultActionBtns {
	text-align: right;
	float: right;
}

.rightSearchBoxArea p {
	padding-left: 27px;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
}

.leftSearchBoxArea p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
	padding-left: 3px;
}
.leftSearchBoxArea .card.active,
.leftSearchBoxArea .card:hover {
	background-color: #0F1226;
}

.rightSearchBoxArea label span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rightSearchStatus li {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding-left: 15px;
	position: relative;
	margin-right: 10px;
}

.rightSearchStatus li:after {
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	background: rgba(73, 153, 254, 0.4);
	border-radius: 5px;
	left: 0;
	top: 6px;
}

.rightSideCardLgBox .card .card-body {
	background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
	box-shadow: inset 0px 4px 150px rgba(15, 18, 38, 0.2);
	border-radius: 4px 4px 0px 0px;
	padding: 10px 20px !important;
}

.rightSideCardLgBox .form-check {
	margin-left: 30px;
}

.rightSideCardLgBox .form-check input[type="checkbox"] {
	background-color: transparent;
	border: 1px solid #fff;
}

.rightSideCardLgBox label.form-check-label {
	display: block;
}

.rightSearchStatus li:nth-child(1) {
	padding-left: 0;
}

.rightSearchStatus li:nth-child(1)::after {
	display: none;
}

.rightSearchStatus li span {
	opacity: .7;
	margin-right: 5px;
}

.bxRightCardTop .card {
	background-color: #0E2948;
	border-radius: 4px;
}

.bxRightCardTop .card h3 {
	font-size: 20px;
}

.bxRightCardTop .card h5 {
	font-size: 14px;
	color: #C5C6CC;
}

.bxRightCardTop .card h3 small {
	font-size: 12px;
}

.bxRightCardTop i {
	font-size: 16px;
}

.bxRightCardTop span {
	font-size: 12px;
}

.rightSearchBoxArea .card .card-body {
	padding-bottom: 5px;
	padding-top: 10px;
}

.bxHash {
	color: #607191;
	font-size: 20px;
	line-height: 20px;
}

.rightSearchBoxArea .form-check {
	padding-left: 0;
}

.rightSearchBoxArea .card {
	border: 0;
	margin-bottom: 20px;
}

.leftSearchBoxArea .form-check input {
	background-color: transparent;
	border: 1px solid #eee;
	margin-right: 0;
}

.list-inline {
	padding-left: 0;
}

.bxPagination {
	position: sticky;
	bottom: 0px;
	background-color: transparent;
}

.pagination {
	align-items: end;
	justify-content: end;
}

.page-link {
	color: #fff;
	background-color: transparent;
	border: none;
}

.page-item.active .page-link {
	color: #fff;
	background-color: #3C92FF;
	border-radius: 2px;
}

.bxRightSearchBox .rightSidebar-search {
	width: 40px;
	float: left;
	height: 37px;
	overflow: hidden;
	position: absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	border: 1px solid #0d6efd;
	border-radius: 4px;
	cursor: pointer;
	left: 0;
}

.bxRightSearchBox .rightSidebar-search .search-icon {
	width: 40px;
	text-align: center;
	height: 46px;
	position: absolute;
	left: 0;
	line-height: 2.5;
	cursor: pointer;
	z-index: 999;
}

.bxRightSearchBox .rightSidebar-search input {
	background-color: transparent;
	border: none;
	color: #fff;
	padding-left: 40px;
}

.bxRightSearchBox .rightSidebar-search button.input-group-text.btn {
	color: #fff;
	padding: 0 10px;
	border: 1px solid #fff;
	line-height: normal;
	height: 22px;
	margin-top: 6px;
	margin-right: 0;
	border-radius: 10px !important;
	overflow: hidden;
	font-size: 12px;
}

.bxCloseSearch {
	position: relative;
	right: 0;
	color: #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -4px;
	font-size: 30px;
}

.bxRightSearchBox .rightSidebar-search.open {
	width: 100%;
	position: absolute;
	z-index: 111;
	background-color: #121212;
	max-width: 520px;
}

.rightSidebar_OuterBox {
	position: relative;
	padding-left: 35px;
}
.bxcolorGreen{
	color: forestgreen;
}
.bxcolorYellow {
	color: #E8B906;
}

.bxcolorRed {
	color: #FF3D00;
}

.bxJsonText {
	color: #C5C6CC;
}

.rightSideCardLgBox a {
	color: #0d6efd;
}

.moretext {
	display: none;
}

.bxAddStreamOffCanvas {
	width: 100%;
	margin-top: 66px;
	max-width: 800px;
}

.bxAddStreamOffCanvas .offcanvas-header {
	background-color: #090B19;
}

.bxAddStreamOffCanvas .offcanvas-header a {
	font-size: 24px;
}

.bxSuggestionTopBar {
	background: #010F33;
	box-shadow: inset 0px 4px 150px rgba(73, 153, 254, 0.2);
	padding: 20px;
}

.bxSearchBtn {
	border: 1px solid #4999FE;
	border-radius: 3px;
	color: #ccc;
}

.bxSuggestionTopBar ul li {
	margin-left: 20px;
	font-size: 14px;
}

.bxSuggestionArea {
	background: #0E2948;
	padding: 10px 20px;
}

.bxSuggestionArea span {
	font-size: 12px;
}

.bxAddCard .card {
	background: #010F33;
}

.bxAddCard label {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	display: inline-block;
}

.bxAddCard p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
	padding-left: 35px;
}

.bxAddCard .form-check input {
	background-color: transparent;
	border: 1px solid #eee;
	margin-right: 20px;
}

.bxAddCard .card:hover {
	background-color: #0F1226;
}

.bxSearchBtn:hover {
	color: #4999FE;
}

.bxPopup .modal-content {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #00529D;
	box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
	backdrop-filter: blur(5px);
	position: relative;
}

.bxPopup .modal-header {
	background-color: #010F33;
	border-color: #00529D;
	;
}

.bxPopup .modal-header .modal-title {
	color: #fff;
}

.bxPopup .bxClose {
	font-size: 25px;
	font-weight: 400;
	background-color: transparent;
	color: #fff;
	border: none;
	position: absolute;
	right: 10px;
	top: 15px;
}

.bxPopupLowerText {
	border-color: #00529D !important;
}

.bxPopupContent p {
	font-size: 12px;
	font-weight: 700;
}

.bxPopupLowerText h4 {
	color: #fff;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 700;
}

.bxPopupLowerText span {
	font-size: 14px;
}

.bxUMGraphText p {
	font-weight: 700;
	font-size: 14px;
}

.bxUMGraphText span {
	font-weight: 400;
	font-size: 12px;
}

.bxAddStreamOffCanvas {
	background-color: #010F33;
}

.bxMoreActionOnCheck li {
	margin-left: 15px;
}

.bxMoreActionOnCheck li a {
	padding: 10px 15px;
	border-radius: 2px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.bxMoreActionOnCheck li a:hover {
	background: rgba(73, 153, 254, 0.2);
}

.bxBgAddEvents {
	background: #1A4478;
	max-width: 500px;
	margin-bottom: 20px;
}

.rightSideCardLgBox.bxAddEventText .card .card-body {
	padding: 0 !important;
}
.StreamPage .rightSearchStatus{
    padding-left: 27px !important;
}
.StreamPage .rightSideCardLgBox .rightSearchStatus{
	padding-left: 0 !important;
}
/* ============================================= stream page responsive css ========================================================= */
@media(max-width:1500px) {
	.StreamPage .left-sidebar {
		width: 450px;
	}

	.StreamPage .right-section {
		width: calc(100% - 450px);
	}

	.StreamPage .right-section.left-collapsed {
		width: 100%;
	}

	.StreamPage .rightResultActionBtns  a {
		padding-left: 0;
	}

	.StreamPage .bxMoreActionOnCheck li {
		margin-left: 5px;
	}

	.StreamPage .rightSidebar_OuterBox {
		padding-left: 39px;
	}

	.StreamPage .bxRightCardTop .card h3 {
		font-size: 16px;
	}

	.StreamPage #agent-switch.collapsed {
		margin-left: -450px;
	}

	.bxRightCardTop .card h3 small {
		font-size: 10px;
	}

	.bxRightCardTop span {
		font-size: 8px;
	}
}

@media (max-width: 1199px) {
	.StreamPage .left-sidebar {
		margin-left: -450px;
		position: absolute;
	}

	.StreamPage .right-section {
		width: calc(100% - 0px);
	}

	.StreamPage #agent-switch.collapsed {
		margin-left: 450px;
	}
}
    /* ============================================= stream page responsive css end ========================================================= */

/*======================================= Stream page css end ============================================= */


/*======================================= filter popup css  ============================================= */

#bxFilterTop .modal-content {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #00529D;
	box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
	backdrop-filter: blur(5px);
	position: relative;
}

#bxFilterTop .modal-header {
	background-color: #010F33;
	border-color: #00529D;
}

#bxFilterTop .modal-header .modal-title {
	color: #fff;
}

#bxFilterTop .bxClose {
	font-size: 25px;
	font-weight: 400;
	background-color: transparent;
	color: #fff;
	border: none;
	position: absolute;
	right: 10px;
	top: 15px;
}

#bxFilterTop .filterHead h1 {
	font-size: 22px;
	color: #fff;
}

#bxFilterTop .filterBody ul .btn {
	color: #fff;
	display: flex;
	align-items: center;
}

#bxFilterTop .filterBody ul li {
	margin-right: 5px;
}

#bxFilterTop .filterBody ul li i {
	font-size: 16px;
	margin-right: 5px;
}

.bxDropdown-menu {
	display: none;
	position: absolute;
	left: 35%;
	top: 95px;
	z-index: 999;
}

.bxDropdown-menu.active {
	display: block;
}

.bxDropdown {
	position: relative;
	padding-left: 20px;
}

#bxFilterTop label {
	cursor: pointer;
}

#bxFilterTop .ellipsis {
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#bxFilterTop .apply-selection {
	display: none;
	width: 100%;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
}

#bxFilterTop .apply-selection .ajax-link {
	display: none;
}

#bxFilterTop .checkboxes {
	margin: 0;
	display: none;
	border: 1px solid #ccc;
	border-top: 0;
}

#bxFilterTop .checkboxes .inner-wrap {
	padding: 5px 10px;
	max-height: 140px;
	overflow: auto;
}

#bxFilterTop .filterBody span {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
}

#bxFilterTop .toggle-next {
	background-color: transparent;
	color: #fff;
	text-align: left;
	border-radius: 5px;
}

#bxFilterTop .dropdown.bootstrap-select.show-tick {
	width: 100% !important;
}

#bxFilterTop .bootstrap-select>.dropdown-toggle {
	border-color: rgba(255, 255, 255, 0.4);
	background-color: transparent;
}

#bxFilterTop .filter-option-inner-inner {
	color: #fff;
}

#bxFilterTop .form-control, #bxFilterTop .bootstrap-select .no-results {
	background: #010F33;
	color: #fff;
}

#bxFilterTop .dropdown-item:focus, #bxFilterTop .dropdown-item:hover {
	color: #fff;
	background-color: #010F33;
}

#bxFilterTop .bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
	position: absolute;
	display: inline-block;
	left: 15px;
	top: 9px;
}

.bootstrap-select .dropdown-menu li a {
	padding-left: 40px;
}

#bxFilterTop .dropdown-item::before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	border-radius: 3px;
	left: 10px;
	top: 8px;
	border: 1px solid rgba(255, 255, 255, 0.4);
}

/*======================================= filter popup css end ============================================= */


/* ======================================================== doppler css start here ======================================================*/
.DopplerPage .right-section {
	width: calc(100% - 1000px);
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 0;
    padding: 0;
}
body.DopplerPage {
    overflow: hidden;
}

.DopplerPage .left-sidebar.float-end {
	width: 550px;
}

.DopplerPage .DopplerPage .bxDopplerAction .card {
	background-color: transparent;
}

.pagination a.page-link {
	padding: 0 6px;
	font-size: 12px;
}

.DopplerPage #agents-switch.collapsed{
	margin-right: -550px;
}

.DopplerPage .center-section {
	width: calc(100% - 1050px);
	float: left;
	overflow: hidden;
	position: relative;
	z-index: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	height: 100%;
}

.DopplerPage .bxLiveDemo {
	position: relative;
	padding-top: 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
}

.DopplerPage .center-section.left-collapsed {
	width: calc(100% - 600px);
}

.DopplerPage .center-section.center-collapsed.left-collapsed {
	width: 100%;
}

.DopplerPage .center-section.both-collapsed {
	width: calc(100% - 600px);
}

.DopplerPage .bxUserBox {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
	height: auto;
}

.DopplerPage .bxUserBox.d-none {
	height: 0;
}

.DopplerPage .center-section.center-collapsed {
	width: calc(100% - 450px);
}

.DopplerPage .center-section.center-collapsed.both-collapsed {
	width: 100%;
}

.DopplerPage .leftSearchBoxArea .bxSearchLeftInnerCard {
	cursor: pointer;
}

.DopplerPage .leftDopplerDateSearch {
	position: relative;
	font-size: 12px;
	padding-right: 0;
}

.DopplerPage .leftDopplerDateSearch::before {
	position: absolute;
	content: "";
	border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.DopplerPage .leftSearchBoxArea {
	padding-bottom: 0;
}

.DopplerPage #tasks-switch.collapsed {
	margin-left: -450px;
}

.DopplerPage #agent-switch {
	position: relative;
	float: right;
	z-index: 9;
}

.DopplerPage #agent-switch.collapsed {
	margin-right: -550px;
}
.DopplerPage .right-section.task-collapsed{
    width: calc(100% - 550px);
}
.DopplerPage .right-section.agent-collapsed{
    width: calc(100% - 450px);
}
.DopplerPage .right-section.both-collapsed{
    width: 100%;
}
.DopplerPage #agent-switch {
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	margin-bottom: 38px;
}

.DopplerPage #agent-switch {
	float: left;
	position: relative;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.DopplerPage .left-sidebar {
	width: 450px;
	background-color: #010F33;
}

.DopplerPage .bxSearchLeftInnerCard {
	background: transparent;
	border-bottom: 1px solid #4999FE66;
}

.DopplerPage .bxSearchLeftInnerCard.activeBox, .DopplerPage .bxSearchLeftInnerCard:hover {
	background: #0F1226;
}

.DopplerPage .bxSearchLeftInnerCard label {
	font-size: 18px;
	color: #fff;
	display: flex;
	align-items: center;
}

.DopplerPage .bxSearchLeftInnerCard .list-inline {
	padding-left: 18px !important;
}

.DopplerPage .bxColorRed h4, .bxColorRed h6, .bxColorRed i {
	color: #FF3D00;
}

.DopplerPage .bxSearchLeftStatus {
	padding-left: 23px;
}

.DopplerPage .bxSearchLeftInnerCard .rightSearchStatus li {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding-left: 15px;
	position: relative;
	margin-right: 10px;
}

.DopplerPage .bxSearchLeftInnerCard .rightSearchStatus li:nth-child(1) {
	padding-left: 0;
}

.DopplerPage .bxSearchLeftInnerCard .rightSearchStatus li span {
	opacity: .7;
	margin-right: 5px;
	font-size: 12px;
}

.DopplerPage ul.rightSearchStatus.mb-0 {
	padding-left: 18px;
}

.DopplerPage .bxNavPills {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	height: 100%;
}
div#v-pills-tab{
	z-index: 13;
	position: relative;
}
.DopplerPage .bxNavPills .tab-content {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	height: 100%;
	width: 100%;
	z-index: 11;
}

.DopplerPage .bxNavPills .nav-pills .nav-link {
	padding: 10px;
	line-height: normal;
	display: flex;
	position: relative;
}

.DopplerPage .bxNavPills .nav-pills .nav-link span {
	padding: 5px 7px;
	line-height: normal;
	display: flex;
	border-radius: 5px;
}
.DopplerPage .bxNavPills .nav-pills .nav-link.active span::before {
    position: absolute;
    height: 100%;
    width: 2px;
    background: rgb(13 38 68);;
    content: "";
    top: 0;
    right: -1px;
}
.DopplerPage .bxNavPills .nav-pills .nav-link.active, .DopplerPage .bxNavPills .nav-pills .show>.nav-link {
	color: #fff;
	background: rgb(13 38 68);
	border-width: 1px 0px 1px 1px;
	border-color: #6286b28c;
	border-radius: 5px 0px 0 5px;
	border-style: solid;
	margin-right: -1px;
	z-index: 9;
}

.DopplerPage .bxNavPills .nav-pills .nav-link span:hover, .DopplerPage .bxNavPills .nav-pills .nav-link.active span, .DopplerPage .bxNavPills .nav-pills .show>.nav-link span {
	background-color: #00529D;
	color: #fff;
}

.DopplerPage .bxNavPills .tab-content>.active {
	border-left: 1px solid #6286b28c;
	height: 100%;
	border-top: 1px solid #6286b28c;
}

.DopplerPage .bxNPContentHead label {
	font-size: 18px;
	color: #fff;
	display: flex;
	align-items: center;
}

.DopplerPage .bxStatusBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 10px;
}

.DopplerPage .bxStatusBar li {
	font-size: 14px;
}

.DopplerPage .bxStatusBar li:last-child {
	margin-right: 0;
}

.DopplerPage .bxStatusBar li span {
	color: #fff;
	font-size: 16px;
	display: block;
}

.DopplerPage .bxNavPillsContent {
	background-color: #010f33;
}

.DopplerPage .bxColorRed p {
	color: red;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 600;
}

.DopplerPage .bxNPContentText p {
	color: #fff;
}

.DopplerPage .bxColorRed p small {
	font-size: 14px;
	display: block;
}

.DopplerPage .bxNPContentText small {
	padding-left: 25px;
	font-size: 14px;
}

.DopplerPage .bxNPContentText small span {
	padding-left: 6px;
	color: #fff;
}

.DopplerPage .bxUserOnclick {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	height: 24px;
	width: 24px;
	border: 1px solid #ffffff4f;
	border-radius: 3px;
	position: absolute;
	right: 0;
	top: 10px;
}

.DopplerPage .bxUserOnclick.rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.DopplerPage .bxAlertBg {
	background: #42667D;
	border-radius: 3px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 12px;
	padding-left: 5px;
	padding-right: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0;
	position: relative;
}

.DopplerPage .bxAlertBg .bxBtn-close {
	background-color: transparent;
	border: none;
	color: #fff;
	position: absolute;
	top: -1px;
	right: 0;
}

.DopplerPage .bxAlertBg .bxBtn-close i {
	color: #fff;
	font-size: 14px;
}

.DopplerPage .bxNPContentHead.bxColorRed {
	position: relative;
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #6286b28c;
	border-top: 0;
	border-radius: 0 0 0 5px;
}

.DopplerPage .bxUserBox .list-inline {
	padding: 4px 10px;
	border: 1px solid #6286b28c;
	;margin: 0 20px;
	border-radius: 5px;
	padding-right: 100px;
}

.DopplerPage .bxUserBox .bxTagsBtns a {
	padding: 6px 7px 5px;
	font-size: 12px;
	border-radius: 0 4px 4px 0;
	background-color: #0e2745;
	text-transform: uppercase;
	font-weight: 600;
	height: 100%;
}

.DopplerPage .bxTagsBtns {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.DopplerPage .offcanvas {
	background: #0E2948;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.DopplerPage .offcanvas-header .btn-close {
	background-color: #fff;
	background-size: 14px;
	padding: 4px;
}

.DopplerPage .bxBgTrans {
	background-color: transparent;
	border: 1px solid #6286b28c;
}

.DopplerPage .input-group-text {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #6286b28c;
	color: #fff;
}

.DopplerPage span.badge.text-bg-secondary {
	background: #6286b28c;
	font-size: 12px;
	padding: 5px;
}

.DopplerPage .bxTabsRightSide .border-top {
	border-top: 1px solid #6286b28c !important;
}

.DopplerPage .bxTabsRightSide .card {
	background-color: #0E2948;
	;border-radius: 0;
	border-bottom: 1px solid rgba(73, 153, 254, 0.4);
	border-top: 0;
}

.DopplerPage .bxTabsRightSide .card p {
	color: #fff;
	font-size: 14px;
	margin: 0;
}

.DopplerPage .bxTabsRightSide .card p span {
	opacity: .5;
	font-size: 12px;
}

.DopplerPage .bxTabsRightSide .card h4 {
	font-weight: 600;
}

.DopplerPage .toggle {
	position: relative;
}

.DopplerPage .toggle .toggleSearch {
	opacity: 0;
	display: none;
}

.DopplerPage .toggle .toggleSearch, .toggle .toggleAddTag {
	height: 100%;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	color: #F5F7FA;
}

.DopplerPage .toggle button:focus {
	outline: none;
}

.DopplerPage .searchAddContainer {
	position: relative;
	grid-area: searchAddContainer;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.DopplerPage .searchContainer, .DopplerPage .addContainer {
	display: none;
	height: 100%;
	width: 100%;
}

.DopplerPage .searchContainer .show, .DopplerPage .addContainer .show {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.DopplerPage .addContainer {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.DopplerPage .addContainer .buttonClass {
	font-size: 12px;
	margin: 7px 0;
	padding: 0 0 0 6px;
	margin-right: 4px;
	overflow: hidden;
	color: #fff;
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #6286b28c;
	border-radius: 4px;
}

.DopplerPage .addContainer .buttonClass span {
	position: relative;
	display: inline-block;
	margin-left: 6px;
	text-align: center;
	color: #ccc;
}

.DopplerPage .addContainer .buttonClass span:hover {
	color: #000;
}

.DopplerPage .addContainer .buttonClass span:before {
	position: absolute;
	content: ' ';
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
}

.DopplerPage .addContainer .buttonClass span:after {
	position: absolute;
	content: '';
	bottom: -100%;
	left: 0;
	height: 100%;
	width: 100%;
}

.DopplerPage .addContainer .buttonClass i {
	font-size: 14px;
	cursor: pointer;
}

.DopplerPage #addTag {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 10px;
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #6286b28c;
	color: #fff;
	border-radius: 5px;
	width: 100%;
}

.DopplerPage #addTag:focus, #search:focus {
	outline: none;
}

.DopplerPage #search {
	height: 100%;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding: 7px 10px;
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	border: 1px solid #6286b28c;
	color: #fff;
	border-radius: 5px;
}

.DopplerPage .ul {
	grid-area: tags;
	padding: 0;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.DopplerPage .ul li {
	position: relative;
	list-style-type: none;
	-ms-flex-item-align: start;
	align-self: flex-start;
	font-size: 12px;
	padding: 0 0 0 5px;
	margin-right: 7px;
	overflow: hidden;
	font-weight: 400;
	color: #fff;
	margin-top: 7px;
	background: red;
	text-transform: capitalize;
	border-radius: 5px;
}

.DopplerPage .ul li button {
	position: relative;
	background: transparent;
	border: 0px solid #FFF;
	font-size: 16px;
	height: 100%;
	padding: 0;
	margin-left: 2px;
	cursor: pointer;
}

.DopplerPage .ul li button:after, .DopplerPage .ul li button:before {
	content: " ";
	position: absolute;
	height: 100%;
	width: 120%;
	background: transparent;
	left: 0;
}

.DopplerPage .ul li button:after {
	top: -100%;
}

.DopplerPage .ul li button:before {
	bottom: -100%;
}

.DopplerPage ul li button:hover {
	color: rgba(0,0,0,.7);
}

.DopplerPage .timeline {
	position: relative;
}

.DopplerPage .timeline:before {
	border-left: 2px dashed #6286b28c;
	bottom: 0;
	content: "";
	left: 30px;
	position: absolute;
	top: 30px;
	width: 2px;
	z-index: 0;
}

.DopplerPage .timeline-show {
	position: relative;
}

.DopplerPage .timeline-show .time-show-name {
	display: inline-block;
	border-radius: 4px;
	background-color: #42667D;
	padding: 7px 15px;
	font-size: 12px;
}

.DopplerPage .timeline-lg-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.DopplerPage .timeline .timeline-desk {
	position: relative;
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

.DopplerPage .timeline .timeline-box {
	margin-left: 65px;
	padding: 10px;
	border-radius: 5px;
	background: #0E2948;
	border: 1px solid #42667D;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.DopplerPage .timeline-lg-item .timeline-desk .arrow {
	border-bottom: 12px solid transparent;
	border-right: 12px solid #6286b28c !important;
	border-top: 12px solid transparent;
	display: block;
	height: 0;
	left: 53px;
	margin-top: -12px;
	position: absolute;
	top: 50%;
	width: 0;
}

.DopplerPage .timeline .timeline-icon {
	background: #42667D;
	border-radius: 50%;
	display: block;
	height: 24px;
	left: 19px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 24px;
	transform: translateY(-50%);
}

.DopplerPage .timeline-icon::after {
	border-top: 2px dashed #42667D;
	position: absolute;
	content: "";
	height: 2px;
	width: 35px;
	top: 13px;
	z-index: 0;
}

.DopplerPage .bxFirstLetter {
	background: #D9556E;
	border-radius: 4px;
	height: 30px;
	width: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}

.DopplerPage .userTwo .bxFirstLetter {
	background: #EC7C2A;
}

.DopplerPage .bxTabsRightSide .border-bottom {
	border-bottom: 1px solid #42667D!important;
}
/* 
.DopplerPage div#bxTimeLine {
	overflow: auto;
	max-height: 713px;
} */

.DopplerPage .bxTabsRightSide {
	width: 100%;
	display: block;
	position: relative;
}

.DopplerPage .bxChatLayout {
	max-height: 587px;
	overflow: auto;
}

.DopplerPage .bxChatLayout h3 {
	color: #fff;
	font-size: 20px;
	margin: 0;
}

.DopplerPage .bxChatLayout h3 small {
	opacity: .6;
}

.DopplerPage .bxFont24 {
	font-size: 24px;
}

.DopplerPage .bxFont14 {
	font-size: 14px;
}

.DopplerPage .bxFont18 {
	font-size: 18px;
}

.DopplerPage .messageText a {
	color: #1391FF;
}

.DopplerPage .comment-area-box .bg-light, .DopplerPage textarea.form-control {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
	box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.4), inset 0px 5px 100px rgba(73, 153, 254, 0.2);
	backdrop-filter: blur(15px);
	color: #fff;
}

.DopplerPage .comment-area-box .bg-light {
	border-top: 1px solid rgba(73, 153, 254, 0.4);
}

.DopplerPage .bxTabsRightSide.bxTabsEvents .card {
	background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
	box-shadow: inset 0px 4px 150px rgba(15, 18, 38, 0.2);
	border-radius: 6px;
	border: none;
}

.DopplerPage .bxTabsRightSide.bxTabsEvents .card a {
	color: #1391FF;
}

.DopplerPage .bxTabsRelations th, .DopplerPage .bxTabsRelations td {
	text-align: right;
	font-size: 14px;
	border-color: rgba(73, 153, 254, 0.4);
}

.DopplerPage .bxTabsRelations td {
	color: #fff;
	background: #010F33;
}

.DopplerPage .bxTabsRelations td:first-child {
	color: #3C92FF;
}

.DopplerPage .bxTabsRelations th:first-child, .DopplerPage .bxTabsRelations td:first-child {
	text-align: left;
}

.DopplerPage .bxTabelRelations .table-dark th {
	background: #0E2948 !important;
	color: #C5C6CC;
	border-bottom-color: rgba(73, 153, 254, 0.4) !important;
}

.DopplerPage .bxTabsRelations .form-select {
	background: #010F33;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	color: #Fff;
	padding: 10px 15px;
}

.DopplerPage .form-select:focus {
	box-shadow: none;
}

.DopplerPage .bxCustomSelect {
	position: relative;
	width: 60%;
}

.DopplerPage .bxCustomSelect::before {
	position: absolute;
	content: "";
	top: 50%;
	border-width: 5px 5px 5px 5px;
	border-style: solid;
	border-color: #fff transparent transparent;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	right: 10px;
}

.DopplerPage .bxDopplerChatAction button.bxDopplerAutomation {
	background-color: transparent;
	border: none;
}

.DopplerPage .bxDopplerAutomation .offcanvas-body {
	border-top: 1px solid rgba(73, 153, 254, 0.4) !important;
}

.DopplerPage .cardSideLeft h5 {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	margin: 0;
}

.DopplerPage .cardSideLeft p {
	color: #A6A6A6;
	font-weight: 600;
	font-size: 12px;
	margin: 0;
}

.DopplerPage .cardSideRight a {
	font-weight: 600;
	font-size: 14px;
	color: #3C92FF;
}

.DopplerPage .bxDopplerAutomation .offcanvas-body h6 {
	font-weight: 600;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.4);
}

.DopplerPage .bxDopplerAutomation .card {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-top: 0;
	background-color: transparent;
	border-radius: 0;
}

.DopplerPage .bxDopplerAutomation .card:hover {
	background: #1A4478;
}

.DopplerPage .bxDopplerAction #bxTimeLine {
	overflow: auto;
	max-height: 100%;
}

.DopplerPage .bxDopplerAction .timeline .timeline-box {
	background: #010F33;
	border-radius: 3px;
	margin-left: 40px;
	border: none;
}

.DopplerPage .bxDopplerAction .timeline:before {
	left: 10px;
}

.DopplerPage .bxDopplerAction .timeline .timeline-icon {
	height: 14px;
	left: 4px;
	margin-top: 0;
	width: 14px;
}

.DopplerPage .bxDopplerAction .timeline-icon::after {
	width: 30px;
	top: 7px;
}

.DopplerPage .bxDopplerActionTimeline h5 {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.DopplerPage .bxDopplerActionTimeline span {
	font-weight: 400;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.6);
}

.DopplerPage .bxDopplerActionTimeline a {
	font-weight: 600;
	font-size: 14px;
	color: #3C92FF;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: space-around;
}

.DopplerPage .bxDopplerActionTimeline i {
	font-size: 30px;
}

.DopplerPage .bxDopplerActionTimeline {
	display: flex;
	align-items: center;
}

.DopplerPage .bxDopplerActionTimeline .spinner-border {
	width: 24px;
	height: 24px;
}

.DopplerPage .bxDopplerActionTimeline .collapse p {
	margin-bottom: 0;
}

.DopplerPage .bxDopplerAction .offcanvas-header {
	box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
}

.DopplerPage .bxDopplerAction .offcanvas-body {
	background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
}

.DopplerPage .bxDopplerActionTimeline .card {
	background-color: transparent;
}
/* ============================================= doppler page responsive css ========================================================= */
@media(max-width:1500px) {
	.DopplerPage .bxTabsRightSide .card p {
		font-size: 12px;
	}
    .DopplerPage .left-sidebar {
        width: 350px;
    }

    .DopplerPage #tasks-switch.collapsed {
        margin-left: -350px;
    }
    .DopplerPage #agents-switch.collapsed {
        margin-right: -450px;
    }
    .DopplerPage .left-sidebar.float-end {
        width: 450px;
    }
    .DopplerPage .right-section.task-collapsed {
        width: calc(100% - 450px);
    }
    .DopplerPage .right-section {
        width: calc(100% - 800px);
    }
    .DopplerPage .right-section.agent-collapsed {
        width: calc(100% - 350px);
    }
    .DopplerPage .right-section.both-collapsed {
        width: 100%;
    }
	.DopplerPage .bxChatLayout h3, .DopplerPage .bxTabsRightSide h4 {
		font-size: 16px;
	}

	.DopplerPage .bxFont18 {
		font-size: 14px;
	}

	.DopplerPage .messageText .bxFont18 {
		font-size: 12px;
	}

	.DopplerPage .timeline .timeline-box p, .DopplerPage .bxFont16 {
		font-size: 12px;
	}

	.DopplerPage .bxFont14 {
		font-size: 10px;
	}

	.DopplerPage .bxColorRed p {
		font-size: 18px;
	}

	.DopplerPage #agent-switch.collapsed {
		margin-left: -320px;
	}

	.DopplerPage #agent-switch .right-section {
		width: 450px;
	}

	.DopplerPage #agent-switch.collapsed {
		margin-right: -450px;
	}

	.DopplerPage .center-section.left-collapsed {
		width: calc(100% - 0px );
	}

	.DopplerPage .bxSearchLeftInnerCard label {
		font-size: 14px;
	}

	.DopplerPage .bxSearchLeftInnerCard .rightSearchStatus li {
		font-size: 10px;
		padding-left: 10px;
		margin-right: 0;
	}

	.DopplerPage .bxSearchLeftInnerCard h4 {
		font-size: 18px;
	}

	.DopplerPage .bxSearchLeftInnerCard h6 {
		font-size: 14px;
	}

	.DopplerPage .center-section.both-collapsed {
		width: calc(100% - 450px);
	}

	/* .bxTabsRightSideHead {
		overflow: auto;
		max-height: 460px;
	} */

	.DopplerPage .bxChatLayout {
		max-height: 420px;
	}

	/* .DopplerPage div#bxTimeLine {
		max-height: 663px;
	} */

	.bxTabelRelations.mt-4 {
		max-height: 420px;
		overflow: auto;
	}

	.bxTabsEventsCards {
		max-height: 450px;
		overflow: auto;
	}
}
    /* ============================================= doppler page responsive css end ========================================================= */
/* ======================================================== doppler css end here ======================================================*/


/* ======================================================== SearchPage css strat here ======================================================*/

#bxFullwidthContent {
    margin-top: 66px;
}
.SearchPage .bxSearchPage {
	display: block;
	background-image: url(../images/search_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.SearchPage .bxSearchBar {
	padding: 50px 0;
	text-align: center;
	background: #090B19;
	box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
}

.SearchPage .bxSearchBar form {
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.SearchPage .bxSearchBar form input {
	position: relative;
	padding: 10px 10px 10px 60px;
	background-color: transparent;
	border: none;
	width: 100%;
	color: #fff;
}

.SearchPage .bxSearchBar form img {
	position: absolute;
	top: 8px;
	left: 15px;
}

.SearchPage .bxSearchSection {
	background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
}

.SearchPage .bxSearchSectionTopBar {
	padding: 20px;
	border-bottom: 1px solid rgba(73, 153, 254, 0.4);
}

.SearchPage .border-end {
	border-color: rgba(73, 153, 254, 0.4) !important;
}

.SearchPage .bxSearchSectionTopBar ul li {
	margin-left: 20px;
}

.SearchPage .bxSearchBtn {
	border: 1px solid #4999FE;
	border-radius: 3px;
	color: #ccc;
	font-size: 14px;
}

.SearchPage .bxSearchBtn:hover {
	color: #fff;
}

.SearchPage .bxSearchSectionArea {
	background: #0E2948;
	padding: 10px 20px;
}

.SearchPage .bxSearchSectionArea span {
	font-size: 12px;
}

.SearchPage .bxSearchSectionResult {
	overflow: auto;
	height: 100vh;
}

.SearchPage .bxSearchSectionResult h6 {
	margin-top: 20px;
	margin-left: 20px;
}

.SearchPage .bxSearchSectionResult .nav-link.active {
	background-color: transparent;
	color: #4999FE;
}

.SearchPage .bxSearchSectionResult .nav-link {
	color: rgba(255, 255, 255, 0.6);
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 10px;
}

.SearchPage .bxSearchSectionResult .bxTabBox {
	display: block;
	margin-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border-bottom: 1px solid rgba(73, 153, 254, 0.4);
}

.SearchPage .bxSearchSectionResult .tab-content {
	margin-top: 15px;
}

.SearchPage .bxSearchSectionResult .tab-content span {
	font-size: 14px;
	padding: 10px 15px;
}

.SearchPage .bxTabBox h5 {
	color: #fff;
	margin-top: 20px;
}

.SearchPage .bxTabBox p {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 400;
	font-size: 14px;
}

.SearchPage .bxSearchSectionResult .nav.nav-pills {
	margin: 0 15px;
}

.SearchPage .topbar-menu .search-list.active {
	background-color: rgba(73, 153, 254, 0.4);
	border-radius: 2px;
}

.SearchPage .topbar-menu .search-list .nav-link {
	padding: 10px 12px;
}

.SearchPage .bxColorBgSearch {
	background: #0E2948;
	border: 1px solid rgba(73, 153, 254, 0.2);
	box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25), inset 0px 0px 150px rgba(73, 153, 254, 0.05);
	border-radius: 8px;
	min-height: 300px;
}

.SearchPage .bxSearchLeftStatus {
	padding-left: 23px;
}

.SearchPage .bxSearchLeftInnerCard li:nth-child(1) {
	padding-left: 0;
}

.SearchPage .bxSearchLeftInnerCard li {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding-left: 15px;
	position: relative;
	margin-right: 10px;
}

.SearchPage .bxSearchLeftInnerCard li span {
	opacity: .7;
	margin-right: 5px;
	font-size: 12px;
}

.SearchPage .bxSearchLeftInnerCard label {
	font-size: 18px;
	color: #fff;
}

.SearchPage .bxColorRed h4, .SearchPage .bxColorRed h6, .SearchPage .bxColorRed i {
	color: #FF3D00;
}

.SearchPage .bxColorYellow h4, .SearchPage .bxColorYellow h6, .SearchPage .bxColorYellow i {
	color: #E59B33;
}

.SearchPage .bxSearchLeftInnerCard {
	background: #010F33;
	border-bottom: 1px solid #4999FE66;
}

.SearchPage .bxSearchLeftStatus i {
	font-size: 20px;
}

.SearchPage .bxSearchLeftStatus span {
	font-size: 20px;
}

.SearchPage .bxSearchRightArea p {
	padding-left: 27px;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 3px;
}

.SearchPage .bxcolorRed {
	color: #D3536C;
}

.SearchPage .bxcolorYellow {
	color: #E8B906;
}

.SearchPage .moretext {
	display: none;
}

.SearchPage .bxJsonText {
	color: #C5C6CC;
}

.SearchPage .bxSearchRightArea a {
	color: #0d6efd;
}

.SearchPage .bxSearchRightInner {
	background-color: #010F33;
	border-radius: 5px;
}

.SearchPage .bxSearchAssociation thead {
	background: #0E2948;
}

.SearchPage .bxSearchAssociation tbody td, .SearchPage .bxSearchAssociation thead th {
	padding: 10px;
	padding-left: 30px;
}

.SearchPage .bxSearchAssociation tbody {
	background-color: #010F33;
}

.SearchPage .bxSearchAssociation tbody tr {
	border-top: 1px solid #4999FE66;
}
/* ================ Search page responsive css start ==== */
@media(max-width: 1500px){
	.SearchPage .bxSearchLeftInnerCard label{
		font-size: 13px;
	}
	.SearchPage .bxColorBgSearch {
		min-height: 240px;
	}
	.SearchPage .bxSearchLeftInnerCard li{
		font-size: 10px;
		padding-left: 5px;
		margin-right: 0;
	}
	.SearchPage .bxSearchLeftStatus {
		padding-left: 17px;
	}
}
/* ================ Search page responsive css end ==== */
/* ======================================================== SearchPage css end here ======================================================*/



/* ======================================================== OrganizationPage css start here ======================================================*/
.OrganizationPage .left-sidebar {
	width: 300px;
	height: 100vh;
	background-color: #010F33;
}
.OrganizationPage #tasks-switch.collapsed{
	margin-left: -300px;
}
.OrganizationPage .right-section {
	width: calc(100% - 300px);
	padding: 10px 10px 10px 40px;
}
.OrganizationPage .right-section.task-collapsed {
	width: 100%;
}

.OrganizationPage .bxLeftSideBar li a {
	border-bottom: 1px solid rgba(73, 153, 254, 0.2);
}

.OrganizationPage .bxLeftSideBar li.active a, .OrganizationPage .bxLeftSideBar li a:hover {
	background-color: rgba(73, 153, 254, 0.1);
}

.OrganizationPage .bxNavTabs {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.OrganizationPage .bxNavTabs button.nav-link {
	padding: 5px 0;
	margin: 0 15px !important;
	border-radius: 0;
	border: 1px solid transparent;
	color: rgba(255, 255, 255, 0.7);
}

.OrganizationPage .bxNavTabs button.nav-link:hover, .OrganizationPage .bxNavTabs button.nav-link:focus, .OrganizationPage .bxNavTabs button.nav-link.active {
	background-color: transparent;
	color: #fff;
	border-color: transparent transparent #3C92FF transparent;
}

.OrganizationPage .leftnavResultActionBtns a {
	margin: 0 10px;
}

.bxOffcanvasAddOrg .bxAddUserForm .form-select, 
.bxOffcanvasAddOrg .bxAddUserForm .form-control {
	background-color: #010F33;
	color: #C5C6CC;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
}
.bxOffcanvasAddOrg {
	width: 700px;
}
.bxOffcanvasAddOrg  .offcanvas-body {
	background: #010F33;
}

.bxOffcanvasAddOrg  .bxAddUserForm small {
	font-size: 12px;
	margin-top: 4px;
}

.bxOffcanvasAddOrg  .bxAddUserForm label {
	font-weight: 400;
	font-size: 12px;
}

.bxOffcanvasAddOrg .offcanvas-header {
	background-color: #010F33;
	border-bottom: 1px solid rgba(73, 153, 254, 0.2);
}

.bxOffcanvasAddOrg .bxListHeadBg {
	background-color: #0E2948;
}

.bxOffcanvasAddOrg .bxListFormCheck table td {
	border: none;
	padding-left: 25px;
}

.bxOffcanvasAddOrg .offcanvas-footer {
	background-color: #111D36;
}

.bxOffcanvasAddOrg .form-switch .form-check-input {
    background-color: #010f33;
    border-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.bxOffcanvasAddOrg .bxAddRoleTopHeadLeft {
	position: relative;
	padding-left: 50px;
}

.bxOffcanvasAddOrg  summary {
	display: block;
	cursor: pointer;
	outline: 0;
}

.bxOffcanvasAddOrg  summary::-webkit-details-marker {
	display: none;
}
.tree-nav__item-title label {
    font-size: 16px;
}
#checkboxlist label{
	margin-bottom: 10px;
}
#checkboxlist input,
.tree-nav__item-title label input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: red;
    border: 1px solid #fff;
}

#checkboxlist input:checked{
	color: #000;
}

.bxOffcanvasAddOrg .tree-nav__item {
	display: block;
	white-space: nowrap;
	color: #ccc;
	position: relative;
	margin-top: 10px;
}

.bxOffcanvasAddOrg .tree-nav__item.is-expandable::before {
	border-left: 1px solid #333;
	content: "";
	height: 100%;
	left: 0.8rem;
	position: absolute;
	top: 2.4rem;
	height: calc(100% - 2.4rem);
}

.bxOffcanvasAddOrg  .tree-nav__item .tree-nav__item {
	margin-left: 2.4rem;
}

.bxOffcanvasAddOrg  .tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
	font-family: "bootstrap-icons";
	transform: rotate(90deg);
}

.bxOffcanvasAddOrg  .tree-nav__item.is-expandable > .tree-nav__item-title {
	padding-left: 2.4rem;
}

.bxOffcanvasAddOrg  .tree-nav__item.is-expandable > .tree-nav__item-title::before {
	position: absolute;
	will-change: transform;
	transition: transform 300ms ease;
	font-family: "bootstrap-icons";
	color: #fff;
	font-size: 1.1rem;
	content: "\F229";
	left: 0;
	display: inline-block;
	width: 1.6rem;
	text-align: center;
}

.bxOffcanvasAddOrg  .tree-nav__item-title {
	cursor: pointer;
	display: block;
	outline: 0;
	color: #fff;
	font-size: 1.5rem;
	line-height: 3.2rem;
}

.bxOffcanvasAddOrg  .tree-nav__item-title .icon {
	display: inline;
	padding-left: 1.6rem;
	margin-right: 0.8rem;
	color: #666;
	font-size: 1.4rem;
	position: relative;
}

.bxOffcanvasAddOrg  .tree-nav__item-title .icon::before {
	top: 0;
	position: absolute;
	left: 0;
	display: inline-block;
	width: 1.6rem;
	text-align: center;
}

.bxOffcanvasAddOrg  .tree-nav__item-title::-webkit-details-marker {
	display: none;
}

/* ======================================================== OrganizationPage css end here ======================================================*/


/* ======================================================== DashboardPage css start here ======================================================*/
.DashboardPage .left-sidebar {
	width: 380px;
	background-color: #010F33;
}
.widgetHead-flat .bxDateTimePicker input[type="text"] {padding: 0 0 0 18px;cursor: pointer;}
.widgetHead-flat .bxDateTimePicker i {left: 0;}
.widgetHead-flat .bxDateTimePicker {font-size: 12px;background: transparent;padding: 0;}
.widgetHead-flat .bxDateTimePicker::before {display: none;}
.DashboardPage .widget-flat .bxDashboardGraph img.w-100 {
    min-height: 280px;
}
.DashboardPage .widget-flat nav.bxPagination {
    position: relative;
}
.DashboardPage .bxTabelRelations {
    min-height: 304px;
}
.DashboardPage .card.widget-flat .card{
	background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
	backdrop-filter: blur(15px);
	border-radius: 0;
}
.DashboardPage .widget-flat .card-head{
	background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
	border: 1px solid rgba(73, 153, 254, 0.2);
	box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.4), inset 0px 5px 100px rgba(73, 153, 254, 0.2);
	backdrop-filter: blur(15px);
	border-radius: 8px 8px 0px 0px;
}
.DashboardPage .widget-flat .bxDashboardGraph{
	border-bottom: 1px solid rgba(73, 153, 254, 0.2);
}
.DashboardPage .right-section {
	width: calc(100% - 380px);
	padding: 10px 10px 10px 40px;
}
.DashboardPage .right-section.task-collapsed{
	width: 100%;
} 
.DashboardPage #tasks-switch.collapsed {
	margin-left: -380px;
}

.DashboardPage .rightResultActionBtns .lastUpdate {
	font-size: 12px;
	color: #fff;
}

.DashboardPage .rightResultActionBtns .lastUpdate span {
	opacity: .7;
	margin-right: 5px;
}

.bxDateTimePicker {
    position: relative;
    font-size: 14px;
    background: #010F33;
    border-radius: 4px;
    padding: 10px 30px;
    display: inline-block;
	vertical-align: top;
}
.bxDateTimePicker i {
    position: absolute;
    left: 8px;
}
.bxDateTimePicker input[type="text"] {
    border: 0;
    background-color: transparent;
    width: 210px;
    display: block;
    float: left;
}
.bxDateTimePicker input[type="text"]:focus{
	box-shadow: none;
	outline: 0;
}

.bxDateTimePicker::before {
	position: absolute;
	content: "";
	border-color: rgba(255, 255, 255, 0.6) transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.DashboardPage .widget-flat {
	background: #0F1226;
	margin-bottom: 20px;
	border: 1px solid rgba(73, 153, 254, 0.2);
	border-radius: 8px;
}
.DashboardPage .widget-flat .leftDopplerDateSearch{
	float: left;
	margin-top: 5px;
}
.widget-flat .bxCustomSelect {
    position: relative;
    width: 100%;
	max-width: 300px;
	display: inline-block;
}
.widget-flat .bxCustomSelect::before {
    position: absolute;
    content: "";
    top: 50%;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #fff transparent transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    right: 10px;
}
.widget-flat .form-select {
    background: #010F33;
    border: 0;
    border-radius: 4px;
    color: #Fff;
    padding: 10px 15px;
    margin-left: 70px;
    max-width: 230px;
}
.bxCustomSelect label{
    position: absolute;
    margin: 0 !important;
    padding-top: 14px;
    font-size: 14px;
}
.DashboardPage .font-16 {
	font-size: 16px;
}
.DashboardPage .sidebar-search{
	width: 100%;
}
/* [ data-bs-theme-data="full"] .desktop-right .rightDashBoxArea {
    overflow-y: auto;
    overflow-x: hidden;
} */
.DashboardPage .equal-height-column {
display: flex;
flex-direction: column;
}
.DashboardPage .equal-height-column > div {
flex-grow: 1;
}

.DashboardPage .bxTabsRelations th:first-child, .DashboardPage .bxTabsRelations td:first-child {
    text-align: left;
}
.DashboardPage .bxTabelRelations .table-dark th {
    background: #0E2948 !important;
    color: #C5C6CC;
    border-bottom-color: rgba(73, 153, 254, 0.4) !important;
}
.DashboardPage  .table.table-centered {
    color: #fff;
    text-align: center;
}
.DashboardPage  .table.table-centered tr th:last-child,
.DashboardPage  .table.table-centered tr td:last-child{
	text-align: right;
}
.DashboardPage  .table.table-centered tr td{
	font-size: 14px;
}
.DashboardPage  .table.table-centered tr th,
.DashboardPage  .table.table-centered tr td:first-child{
	text-align: left;
}
.bxDashboardAction.offcanvas {
    background-color: #0E2948;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 800px;
    margin-top: 66px;
}
.bxDashboardAction .offcanvas-body {
    background: #010F33;
}
.bxDashboardAction .offcanvas-header .btn-close {
    background-color: #fff;
    background-size: 14px;
    padding: 4px;
}
.bxDashboardAction .offcanvas-header{
	background-color: #0D1529;
	box-shadow: 0px 0px 150px 0px rgba(73, 153, 254, 0.10) inset;
}
.bxDashboardAction .bxAddCard{
	background-color: #010F33;
}
.bxDashboardAction .bxAddCard .card-body{
	background-color: #182143;
	cursor: pointer;
	border-radius: 4px;
}
.bxDashboardAction .bxAddCard .card-body:hover{
	background-color: #0E2948;
}
.bxCritical .card-body{   	
	border: 1px solid rgba(255, 61, 0, 0.40);
}
.bxCritical .card-body h3{
	color: #FF3D00;
}
.DashboardPage .leftSearchBoxArea p {
    padding-left: 23px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

    /* ============================================= DashboardPage page responsive css start ========================================================= */

@media(max-width: 1500px) {
	.DashboardPage .card.widget-flat h5 {
		font-size: 15px;
	}

	.DashboardPage .card.widget-flat h3 {
		font-size: 16px;
	}

	.DashboardPage .card.widget-flat p {
		font-size: 10px;
	}
}
    /* ============================================= DashboardPage page responsive css end ========================================================= */
/* ======================================================== DashboardPage css end here ======================================================*/
#snippet pre code {
    display: block;
    height: 19em;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#23241f;color:#f8f8f2}.hljs-subst,.hljs-tag{color:#f8f8f2}.hljs-emphasis,.hljs-strong{color:#a8a8a2}.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-quote,.hljs-regexp{color:#ae81ff}.hljs-code,.hljs-section,.hljs-selector-class,.hljs-title{color:#a6e22e}.hljs-strong{font-weight:700}.hljs-emphasis{font-style:italic}.hljs-attr,.hljs-keyword,.hljs-name,.hljs-selector-tag{color:#f92672}.hljs-attribute,.hljs-symbol{color:#66d9ef}.hljs-class .hljs-title,.hljs-params,.hljs-title.class_{color:#f8f8f2}.hljs-addition,.hljs-built_in,.hljs-selector-attr,.hljs-selector-id,.hljs-selector-pseudo,.hljs-string,.hljs-template-variable,.hljs-type,.hljs-variable{color:#e6db74}.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}