#right-switch .right-section {
    width: 600px;
    float: right;
    background-color: transparent;
}
.center-section {
    width: calc(100% - 0px);
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 0;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    height: 100vh;
}
.bxLiveDemo {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}
.center-section.left-collapsed {
    width: calc(100% - 600px);
}
.center-section.agent-collapsed.left-collapsed{
    width: 100%;
}
.center-section.agent-collapsed{
    width: calc(100% - 0px);
}
#left-switch.collapsed {
    margin-left: -450px;
}
#right-switch {
    position: relative;
    float:right;
}
.right-section {
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 0;
    padding: 20px 30px;
}
.collapse-sidebar.left {
    left: auto;
    right: 100%;
    border-radius: 0 0 0 4px;
}
.collapse-sidebar {
    position: absolute;
    text-align: center;
    left: 100%;
    top: 0;
    width: 28px;
    height: 28px;
    padding: 0;
    background: #163159;
    z-index: 1;
    color: #fff;
    cursor: pointer!important;
    border-radius: 0 0 4px;
}
#right-switch.collapsed {
    margin-right: -600px;
}
#left-switch {
    float: left;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.collapse-sidebar i {
    font-size: 20px;
}
.left-sidebar {
    width: 450px;
    background-color: #010F33;
    box-shadow: 6px 0 30px 0 rgba(0,0,0,.15);
    position: relative;
    z-index: 2;
    padding: 0;
    overflow: hidden;
}
.bxSearchLeftInnerCard {
    background: transparent;
    border-bottom: 1px solid #4999FE66;
}
.bxSearchLeftInnerCard.activeBox, 
.bxSearchLeftInnerCard:hover {
    background: #0F1226;
}
.bxSearchLeftInnerCard label {
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
}  
.bxSearchLeftInnerCard  .list-inline {
    padding-left: 18px !important;
} 
.bxColorRed h4, .bxColorRed h6, .bxColorRed i {
    color: #FF3D00;
}
.bxSearchLeftStatus {
    padding-left: 23px;
}
.bxSearchLeftInnerCard .rightSearchStatus li {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding-left: 15px;
    position: relative;
    margin-right: 10px;
}
.bxSearchLeftInnerCard .rightSearchStatus li:nth-child(1) {
    padding-left: 0;
}
.bxSearchLeftInnerCard .rightSearchStatus li span {
    opacity: .7;
    margin-right: 5px;
    font-size: 12px;
}
ul.rightSearchStatus.mb-0 {
    padding-left: 18px;
}

.bxNavPills .nav-pills {
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    height: 100%;    
}
.bxNavPills .tab-content{
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    height: 100%;
    width: 100%;
}
.bxNavPills .nav-pills .nav-link{
    padding: 10px;
    line-height: normal;
    display: flex;
}
.bxNavPills .nav-pills .nav-link span{
    padding: 5px 7px;
    line-height: normal;
    display: flex;
    border-radius: 5px;
}
.bxNavPills .nav-pills .nav-link.active, .bxNavPills .nav-pills .show>.nav-link {
    color: #fff;
    background: rgb(13 38 68);
    border-width: 1px 0px 1px 1px;
    border-color: #6286b28c;
    border-radius: 5px 0px 0 5px;
    border-style: solid;
    margin-right: -1px;
    z-index: 999;
}
.bxNavPills .nav-pills .nav-link span:hover,
.bxNavPills .nav-pills .nav-link.active span, .bxNavPills .nav-pills .show>.nav-link span{
    background-color: #00529D;
    color: #fff;
}
.bxNavPills .tab-content>.active {
    border-left: 1px solid #6286b28c;
    height: 100%;
    border-top: 1px solid #6286b28c;
}
.bxNPContentHead label {
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
}
.bxStatusBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 10px;
}
.bxStatusBar li{
    font-size: 14px;
}
.bxStatusBar li:last-child{
    margin-right: 0;
}
.bxStatusBar li span{
    color: #fff;
    font-size: 16px;
    display: block;
}
.bxNavPillsContent {
    background-color: #010f33;
}
.bxColorRed p {
    color: red;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.bxNPContentText p{
    color: #fff;
}
.bxColorRed p small{
    font-size: 14px;
    display: block;
}
.bxNPContentText small {
    padding-left: 30px;
    font-size: 14px;
}
.bxNPContentText small span{
    padding-left: 6px;
    color: #fff;
}
.bxUserOnclick {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
    height: 24px;
    width: 24px;
    border: 1px solid #ffffff4f;
    border-radius: 3px;
    position: absolute;
    right: 0;
    top: 10px;
}
.bxUserOnclick.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bxAlertBg {
    background: #42667D;
    border-radius: 3px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    position: relative;
}
.bxAlertBg .bxBtn-close {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: -1px;
    right: 0;
}
.bxAlertBg .bxBtn-close i{
    color: #fff;
    font-size: 14px;
}
.bxNPContentHead.bxColorRed {
    position: relative;
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
    border-top: 0;
    border-radius: 0 0 0 5px;
}
.bxUserBox .list-inline {
    padding: 4px 10px;
    border: 1px solid #6286b28c;;
    margin: 0 20px;
    border-radius: 5px;
    padding-right: 100px;
}
.bxUserBox .bxTagsBtns a {
    padding: 6px 7px 5px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    background-color: #0e2745;
    text-transform: uppercase;
    font-weight: 600;
    height: 100%;
}
.bxTagsBtns {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.offcanvas{
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
}
.offcanvas-header .btn-close {
    background-color: #fff;
    background-size: 14px;
    padding: 4px;
}
.bxBgTrans{
    background-color: transparent;
    border: 1px solid #6286b28c;
}
.input-group-text{
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
    color: #fff;
}
span.badge.text-bg-secondary{
    background: #6286b28c;
    font-size: 12px;
    padding: 5px;
}
.bxTabsRightSide .border-top{
    border-top: 1px solid #6286b28c !important;
}
.bxTabsRightSide .card {
    background-color: #0E2948;;
    border-radius: 0;
    border-bottom: 1px solid rgba(73, 153, 254, 0.4);
    border-top: 0;
}
.bxTabsRightSide .card p{
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.bxTabsRightSide .card p span{
    opacity: .5;
    font-size: 12px;
}
.bxTabsRightSide .card h4{
    font-weight: 600;
}

/* ================================================ */
.toggle {
    position: relative;
}
.toggle .toggleSearch{
    opacity: 0;
    display: none;
}
.toggle .toggleSearch, .toggle  .toggleAddTag {
    height: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #F5F7FA;
}
.toggle button:focus {
    outline: none;
}
/* .toggle .active{
    background: #00529D !important;
    color: #fff !important;
} */

.searchAddContainer {
    position: relative;
    grid-area: searchAddContainer; 
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.searchContainer,.addContainer {
    display: none;
    height: 100%;
    width: 100%;
}
.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.addContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: none;
}
.addContainer .buttonClass {
    font-size: 12px;
    margin: 7px 0;
    padding: 0 0 0 6px;
    margin-right: 4px;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
    border-radius: 4px;
}

.addContainer .buttonClass span {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    color: #ccc;
}

.addContainer .buttonClass span:hover {
    color: #000;
}
.addContainer .buttonClass span:before {
    position: absolute;
    content: ' ';
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
}
.addContainer .buttonClass span:after {
    position: absolute;
    content: '';
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
}
.addContainer .buttonClass i {
    font-size: 14px;
    cursor: pointer;
}

#addTag{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding: 7px 10px;
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
    color: #fff;
    border-radius: 5px;
    width: 100%;
}
#addTag:focus, #search:focus {
    outline: none;
}
#search {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    padding: 7px 10px;
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    border: 1px solid #6286b28c;
    color: #fff;
    border-radius: 5px;
}


.ul {
    grid-area: tags;
    padding: 0;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.ul li {
    position: relative;
    list-style-type: none;
    -ms-flex-item-align: start;
    align-self: flex-start;
    font-size: 12px;
    padding: 0 0 0 5px;
    margin-right: 7px;
    overflow: hidden;
    font-weight: 400;
    color: #fff;
    margin-top: 7px;
    background: red;
    text-transform: capitalize;
    border-radius: 5px;
}
.ul li button {
    position: relative;
    background: transparent;
    border: 0px solid #FFF;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin-left: 2px;
    cursor: pointer;
}
.ul li button:after, .ul li button:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 120%;
    background: transparent;
    left: 0;
}
.ul li button:after {
    top: -100%;
}
.ul li button:before {
    bottom: -100%;
}
ul li button:hover {
    color: rgba(0,0,0,.7);
}

@media only screen and (min-width: 600px){
    .container{
        width: 100%;
        -webkit-transition: width .5s ease-in;
        -o-transition: width .5s ease-in;
        transition: width .5s ease-in;
    }
}
/* ================    ================ */

.timeline {
    margin-bottom: 50px;
    position: relative;
}
.timeline:before {
    border-left: 2px dashed #6286b28c;
    bottom: 0;
    content: "";
    left: 30px;
    position: absolute;
    top: 30px;
    width: 2px;
    z-index: 0;
}
.timeline-show {
    position: relative;
}
.timeline-show .time-show-name {
    display: inline-block;
    border-radius: 4px;
    background-color: #42667D;
    padding: 7px 15px;
    font-size: 12px;
}
.timeline-lg-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.timeline .timeline-desk {
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.timeline .timeline-box {
    margin-left: 65px;
    padding: 10px;
    border-radius: 5px;
    background: #0E2948;
    border: 1px solid #42667D;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.timeline-lg-item .timeline-desk .arrow {
    border-bottom: 12px solid transparent;
    border-right: 12px solid #6286b28c !important;
    border-top: 12px solid transparent;
    display: block;
    height: 0;
    left: 53px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 0;
}
.timeline .timeline-icon {
    background: #42667D;
    border-radius: 50%;
    display: block;
    height: 24px;
    left: 19px;
    margin-top: -12px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 24px;
}
.timeline-icon::after {
    border-top: 2px dashed #42667D;
    position: absolute;
    content: "";
    height: 2px;
    width: 35px;
    top: 13px;
    z-index: 0;
}
.bxFirstLetter {
    background: #D9556E;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.userTwo .bxFirstLetter {
    background: #EC7C2A;
}
.bxTabsRightSide .border-bottom {
    border-bottom: 1px solid #42667D!important;
}
.bxChatLayout{
    max-height: 500px;
    overflow: auto;
}
.bxChatLayout  h3 {
    color: #fff;
    font-size: 20px;
    margin: 0;
}
.bxChatLayout h3 small {
    opacity: .6;
}
.bxFont24{
    font-size: 24px;
}
.bxFont14{
    font-size: 14px;
}
.bxFont18{
    font-size: 18px;
}
.messageText a {
    color: #1391FF;
}
.comment-area-box .bg-light,
textarea.form-control{
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
    box-shadow: 0px -15px 30px rgba(0, 0, 0, 0.4), inset 0px 5px 100px rgba(73, 153, 254, 0.2);
    backdrop-filter: blur(15px);
    color: #fff;
}
.comment-area-box .bg-light{
    border-top: 1px solid rgba(73, 153, 254, 0.4);
}
.bxTabsRightSide.bxTabsEvents .card{
    background: linear-gradient(172.51deg, #051138 -140.82%, #263051 200.27%);
    box-shadow: inset 0px 4px 150px rgba(15, 18, 38, 0.2);
    border-radius: 6px;
    border:none;
}
.bxTabsRightSide.bxTabsEvents .card a{
    color: #1391FF;
}
.bxTabsRelations th,
.bxTabsRelations td{
    text-align: right;   
    font-size: 14px; 
    border-color: rgba(73, 153, 254, 0.4);
}
.bxTabsRelations td{
    color: #fff;
    background: #010F33;
}
.bxTabsRelations td:first-child{
    color: #3C92FF;
}
.bxTabsRelations th:first-child,
.bxTabsRelations td:first-child{
    text-align: left;
}

.bxTabelRelations .table-dark th{
    background: #0E2948 !important;
    color: #C5C6CC;
    border-bottom-color: rgba(73, 153, 254, 0.4) !important;
}
.bxTabsRelations .form-select {
    background: #010F33;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    color: #Fff;
    padding: 10px 15px;
}
.form-select:focus {
    box-shadow: none;
}
.bxCustomSelect{
    position: relative;
    width: 60%;
}
.bxCustomSelect::before {
    position: absolute;
    content: "";
    top: 50%;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #fff transparent transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    right: 10px;
}
.tab-pane{
    padding-bottom: 40px;
}

@media(max-width: 1500px){
.left-sidebar{
    width: 320px;
}
#left-switch.collapsed {
    margin-left: -320px;
}
#right-switch .right-section{
    width: 450px;
}
#right-switch.collapsed {
    margin-right: -450px;
}
.center-section.left-collapsed {
    width: calc(100% - 0px );
}
.bxSearchLeftInnerCard label {
    font-size: 14px;
}
.bxSearchLeftInnerCard .rightSearchStatus li {
    font-size: 10px;
    padding-left: 10px;
    margin-right: 0;
}
.bxSearchLeftInnerCard  h4 {
    font-size: 18px;
}
.bxSearchLeftInnerCard h6 {
    font-size: 14px;
}
#v-pills-risks .bxTabsRightSide {
    position: relative;
    max-width: 93%;
}


}