.bxSearchPage {
    display: block;
    background-image: url(../images/search_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bxSearchBar {
    padding: 50px 0;
    text-align: center;
    background: #090B19;
    box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
}
.bxSearchBar form {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.bxSearchBar form input {
    position: relative;
    padding: 10px 10px 10px 60px;
    background-color: transparent;
    border: none;
    width: 100%;
    color: #fff;
}

.bxSearchBar form img {
    position: absolute;
    top: 8px;
    left: 15px;
}
.bxSearchSection {
    background: linear-gradient(276.43deg, rgba(1, 15, 51, 0.9) 8.2%, rgba(14, 41, 72, 0.9) 98.53%);
}
.bxSearchSectionTopBar{
    padding: 20px;
    border-bottom: 1px solid rgba(73, 153, 254, 0.4);
}
.border-end {
    border-color: rgba(73, 153, 254, 0.4) !important;
}
.bxSearchSectionTopBar ul li {
    margin-left: 20px;
}
.bxSearchBtn{
    border: 1px solid #4999FE;
    border-radius: 3px;
    color: #ccc;
    font-size: 14px;
}
.bxSearchBtn:hover{
    color: #fff;
}
.bxSearchSectionArea {
    background: #0E2948;
    padding: 10px 20px;
}
.bxSearchSectionArea span {
    font-size: 12px;
}
.bxSearchSectionResult {
    overflow: auto;
    height: 100vh;
}
.bxSearchSectionResult h6 {
    margin-top: 20px;
    margin-left: 20px;
}
.bxSearchSectionResult .nav-link.active {
    background-color: transparent;
    color: #4999FE;
}
.bxSearchSectionResult .nav-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.bxSearchSectionResult .bxTabBox {
    display: block;
    margin-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(73, 153, 254, 0.4);
}
.bxSearchSectionResult .tab-content{
    margin-top: 15px;
}
.bxSearchSectionResult .tab-content span {
    font-size: 14px;
    padding: 10px 15px;
}
.bxTabBox h5 {
    color: #fff;
    margin-top: 20px;
}
.bxTabBox p{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
}
.bxSearchSectionResult .nav.nav-pills {
    margin: 0 15px;
}
.topbar-menu .search-list.active {
    background-color: rgba(73, 153, 254, 0.4);
    border-radius: 2px;
}
.topbar-menu .search-list .nav-link {
    padding: 10px 12px;
}
.bxColorBgSearch {
    background: #0E2948;    
    border: 1px solid rgba(73, 153, 254, 0.2);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25), inset 0px 0px 150px rgba(73, 153, 254, 0.05);
    border-radius: 8px;
    min-height: 300px;
}
.bxSearchLeftStatus {
    padding-left: 23px;
}
.bxSearchLeftInnerCard li:nth-child(1) {
    padding-left: 0;
}
.bxSearchLeftInnerCard li {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    padding-left: 15px;
    position: relative;
    margin-right: 10px;
}
.bxSearchLeftInnerCard li span {
    opacity: .7;
    margin-right: 5px;
    font-size: 12px;
}
.bxSearchLeftInnerCard label {
    font-size: 18px;
    color: #fff;
}
.bxColorRed h4,
.bxColorRed h6,
.bxColorRed i{
    color: #FF3D00;
}
.bxColorYellow h4,
.bxColorYellow h6,
.bxColorYellow i{
    color: #E59B33;
}
.bxSearchLeftInnerCard {
    background: #010F33;
    border-bottom: 1px solid #4999FE66;
}
.bxSearchLeftStatus  i {
    font-size: 20px;
}
.bxSearchLeftStatus span {
    font-size: 20px;
}
.bxSearchRightArea p {
    padding-left: 27px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
}
.bxcolorRed {
    color: #D3536C;
}
.bxcolorYellow {
    color: #E8B906;
}
.moretext {
    display: none;
}
.bxJsonText {
    color: #C5C6CC;
}
.bxSearchRightArea a {
    color: #0d6efd;
}
.bxSearchRightInner{
    background-color: #010F33;
    border-radius: 5px;
}
.bxSearchAssociation thead {
    background: #0E2948;
}
.bxSearchAssociation tbody td,
.bxSearchAssociation thead th{
    padding: 10px;
    padding-left: 30px;
}
.bxSearchAssociation tbody {
    background-color: #010F33;
}
.bxSearchAssociation tbody tr{
    border-top : 1px solid #4999FE66;
}