
/* ----------------------------------------------------------------------------------------- */

.sidebar-search {
    background-color: #051F44;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
}
.sidebar-search span.search-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar-search  span {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar-search input:focus, .sidebar-search input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
}
/* =============== Repeat css top ====================*/

.side-nav {
    padding-left: 0;
    list-style-type: none;
}
.side-nav .side-nav-link {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.side-nav .side-nav-link {
    list-style: none;
    position: relative;
    white-space: nowrap;
    color: #8391a2;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0);
}
.side-nav .side-nav-link:hover, 
.menuitem-active .side-nav-link{ 
    background-color: #051F44;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.side-nav .side-nav-link small{
    text-transform: capitalize;
}
.bxContent_head {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
}
.btn_Group .btn-info{
    height: 40px;
}

.filter-buttons {
  display: flex;
  margin-left: 10px;
}
.list-view-button, .grid-view-button {
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 40px;
  line-height: 53px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  background-color: #3c92ff29;
}
.list-view-button:hover,
.grid-view-button:hover {
  background: white;
  color: #0e2439;
}
.list-view-button {
  margin-right: 10px;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.bxSettingPage_listBox .list_area {
  color: white;
  margin-bottom: 10px;
  transition: 0.3s;
}
.list.list-view-filter {
  flex-direction: column;
}
.list.grid-view-filter {
  flex-flow: row wrap;
}

.list.grid-view-filter .list_area {
  width: 100%;
  padding: 0;
  margin-right: 10px;
  text-align: center;
}
.list.grid-view-filter .bxStreamEDHead a.d-flex.align-items-center {
  display: block !important;
}
.bxStreamIcon_link {
  height: 50px;
  width: 50px;
  line-height: 50px;
  min-width: 50px;
  background-size: 80%;
}
.bxStreamTitle_link{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bxStream_linkContent {
  padding-left: 15px;
}
.bxStreamEDHead {
  max-width: 75%;
}
.list_area_inner {
  width: 33.33%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
  position: relative;
  margin-bottom: 20px;
}
.list_area_inner .btn-dark {
  background: #173E78;
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  height: 40px;
  font-size: 14px;
}
.list_area_inner .btn-dark:hover{
  background: #0dcaf0;
  opacity: 1;
}
.bxStreamEDHead .bxStreamDiscription_link {
  font-size: 16px;
}
.list.grid-view-filter .list_area_inner {
  display: block;
}
.list.grid-view-filter .bxStream_linkContent {
  padding-left: 0;
  text-align: left;
  padding-top: 10px;
}
.list.grid-view-filter .bxStreamEDHead {
  max-width: 100%;
  display: block !important;
}
.list.grid-view-filter .btn-dark {
  float: left;
  margin-top: 10px;
  padding: 0 20px;
}
.list.grid-view-filter  .bxStreamIcon_link {
  height: 70px;
  width: 70px;
  line-height: 70px;
  min-width: 70px;
  background-size: 80%;
}
.list_area_inner::before{
  width: 78%;
  height: 1px;
  background-color: #fff;
  opacity: .2;
  position: absolute;
  content: "";
  bottom: 0;
  right: 15px;
}
.list.grid-view-filter .list_area_inner::before {
  width: 93%;
}
.bxContent_head .btn-info {
  background-color: #3C92FF;
  border-color: #3C92FF;
}
.bxSP_ELBox_head .bxStreamIcon_link {
  height: 80px;
  width: 80px;
  line-height: 80px;
  min-width: 80px;
}
.border-bottom {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.bxSTP-states label{
  text-transform: uppercase;
  color: #3C92FF;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}
.w--icon .list_area_inner::before {
  width: 93%;
}
.w--icon .bxStream_linkContent {
  padding-left: 0;
}
.bxSTP-states .bxform-control {
  background-color: #031126;
  width: 100%;
  border: 0;
  min-height: 60px;
  padding: 10px 20px;
}
.bxSTP-states .bxform-control:focus{
  outline: none;
}
.bxStreamIcon_link{
  position: relative;
}
.bxStreamIcon_link input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  left: 0;
}
.checkmark {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.bxStreamIcon_link:hover input ~ .checkmark {
  background-color: #ccc;
}
.bxStreamIcon_link input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.bxStreamIcon_link input:checked ~ .checkmark:after {
  display: block;
}
.bxStreamIcon_link .checkmark:after {
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2196F3;
}
.badge-warning-lighten {
  color: #F5C304;
  background-color: #4D4A23;
  border-radius: 4px;
  padding: 0 7px;
}
#codeRun{
  margin-top: -36px;
}
#codeRun p {
  background-color: #020D1F;
  display: block;
  padding-left: 10px;
  margin-bottom: 0;
}
#codeRun p span {
  border-bottom: 1px solid #0dcaf0;
  padding: 0 10px;
  color: #fff;
  font-weight: 100;
  font-size: 10px;
}
.hljs {
  background: #031126;
}
#snippet pre code {
  display: block;
  height: auto;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


.content #log, .content #editor {
  flex-wrap: wrap;
  float: left;
  height: 100%;
  width: calc(100% / 2);
}
.content #log {
  font-size: 12px;
  font-weight: normal;
  font-family: "Consolas", monospace;
  line-height: 1.3;
  letter-spacing: 1.4px;
}
.content #log, 
.content #editor .CodeMirror .CodeMirror-scroll, 
.content #editor .CodeMirror .CodeMirror-vscrollbar, 
.content #editor .CodeMirror .CodeMirror-hscrollbar {
  overflow-y: auto;
}
.content #log::-webkit-scrollbar, 
.content #editor .CodeMirror .CodeMirror-scroll::-webkit-scrollbar, 
.content #editor .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar, 
.content #editor .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar {
  width: 10px;
  background: #252f69;
}
.content #log::-webkit-scrollbar-corner, 
.content #editor .CodeMirror .CodeMirror-scroll::-webkit-scrollbar-corner, 
.content #editor .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar-corner, 
.content #editor .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-corner {
  background: #252f69;
}
.content #log::-webkit-scrollbar-thumb, 
.content #editor .CodeMirror .CodeMirror-scroll::-webkit-scrollbar-thumb, 
.content #editor .CodeMirror .CodeMirror-vscrollbar::-webkit-scrollbar-thumb, 
.content #editor .CodeMirror .CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background: #32408f;
}

/** App --------------------------*/

.app {
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #0a0d1e;
  box-shadow: 0px 3px 3px #0a0d1e;
  border-radius: 4px;
  border: 2px solid #252f69;
  width: 960px;
  max-width: calc(100% - 3rem);
  max-height: 480px;
  margin: 3rem auto;
}
@media (max-width: 760px) {
  .app {
    box-shadow: none;
    border-radius: 0;
    border: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
 }
}
.header {
  height: 2.6rem;
  background: #252f69;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  user-select: none;
}
.header .left {
  float: left;
  width: 7rem;
}
.header .right {
  float: right;
  width: 7em;
  text-align: right;
}
.header .center {
  width: calc(100% - 20rem);
  height: 2.6rem;
  display: block;
  padding: 0.2em;
  float: left;
}
.header .center span {
  display: block;
  text-align: center;
  margin: 0.4rem;
  text-transform: capitalize;
  color: #8bc34a;
  animation: fade 1s 1 ease;
}
@keyframes fade {
  from {
    opacity: 0;
 }
}
.header a {
  display: inline-block;
  text-decoration: none;
  transition: background 500ms ease;
  margin: 0.2rem 0;
  padding: 0.5rem 1rem;
  color: #e8ebff;
}
.header a:first-child {
  margin-left: 0.2rem;
}
.header a svg {
  stroke: #b5bfff;
  stroke-width: 1px;
}
.header a:hover, .header a:focus {
  transition: background 500ms ease;
  background: #2f3d88;
}
.content {
  display: flex;
  overflow: hidden;
  height: calc(100% - 2.6rem);
}
.content #log {
  margin: 0;
  word-break: break-word;
  white-space: pre-wrap;
  padding: 0.5rem;
  background: #111631;
  color: #e8ebff;
}
.content #log a {
  color: #b5bfff;
}
.content #log .log-string {
  color: #00c4ff;
}
.content #log .log-number {
  color: #f44336;
}
.content #log .log-boolean {
  color: #8bc34a;
}
.content #log .log-object {
  color: #ffc107;
}
.content #log .log-undefined {
  color: #e91e63;
  font-weight: bold;
}
.content #editor {
  resize: none;
  border: none;
  outline: none;
  white-space: pre-wrap;
  padding: 0;
  transition: background 500ms ease;
  background: #171e44;
  color: #e8ebff;
}
.content #editor .CodeMirror {
  line-height: 1.5;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bolder;
  font-size: 13px;
  letter-spacing: 1.5px;
  transition: background 500ms ease;
  background: #171e44;
  color: #e8ebff;
}
.content #editor .CodeMirror .CodeMirror-linenumber {
  color: white;
}
.content #editor .CodeMirror .CodeMirror-cursor {
  border-left: 1px solid white;
}
.content #editor .cm-s-material-palenight {
  background: #171e44;
  color: #e8ebff;
  height: 100%;
}
.content #editor .cm-s-material-palenight .CodeMirror-gutter {
  background: #171e44;
  border-right: 1px solid #111631;
  user-select: none;
}
.content #editor .cm-s-material-palenight:hover, .content #editor .cm-s-material-palenight:focus {
  transition: background 500ms ease;
  outline: none;
  background: #151b3c;
}
.clearing {
  animation: clear 800ms ease;
}
@keyframes clear {
  from {
    background: white;
 }
}
.gutter {
  background-color: #10142d;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: e-resize;
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

/* ================================ usermanagement css ==================================== */
.nav-tabs {
  border-bottom: 1px solid #031126;
}
div#myTabContent .leftNavResult {
  background-color: #031126;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #3C92FF;
  background-color: #031126;
  border-color: #031126;
}
.nav-tabs .nav-item .nav-link{
  text-transform: uppercase;
  font-size: 14px;
}
.leftnavResultActionBtns a {
  margin: 0 10px;
}
table.table.table-dark {
  --bs-table-bg: transparent;
}
table.table.table-dark thead {
  background-color: #051F44 ;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #fff;
}
.bxSelectAllPermissions {
  white-space: nowrap;
  margin-left: 20px;
}
input#top-search {
  display: none;
}
.bxOffcanvasAddOrg .bxAddRoleTopHeadLeft {
  position: relative;
  padding-left: 0;
}
.bxOffcanvasAddOrg  .bxAddUserForm small.d-block.text-start {
  min-height: 50px;
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color: #fff0;
}
table.table.table-dark td {
  opacity: .5;
  padding-top: 20px;
}
table.table.table-dark thead th {
  position: relative;
}

.form-check {
  margin-bottom: 0;
  min-height: 0;
}
.leftNavResultCount label.form-check-label {
    margin-left: 5px;
}
table.table.table-dark th span.material-symbols-outlined {
  position: absolute;
  opacity: .5;
}
.badge-success-lighten {
  color: #1DEBBA;
  background-color: rgba(29, 235, 186, 0.28);
}
.badge-warning-lighten {
  color: #F5C304;
  background-color: #4D4A23;
}
.badge-danger-lighten {
  color: #FF3E3E;
  background-color: rgba(255, 62, 62, 0.28);
}
.bxOpacity{
  opacity: 1 !important;
}
.bxOpacity span {
  font-size: 12px;
  border-radius: 4px;
  display: block;
  text-align: center;
  padding: 3px 0;
  width: 70px;
}
.leftNavResultCount input#top-search {
  display: block;
}
.tab-content{
  position: relative;
}
.tab-content a.addNewBtn span {
  position: absolute;
  left: 10px;
  top: 7px;
}
.tab-content .addNewBtn {
  font-size: 14px;
  height: auto;
  width: auto;
  line-height: initial;
  border-radius: 5px;
  text-align: center;
  background-color: #3C92FF;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: -40px;
  padding-left: 40px;
}
