@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {margin: 0;padding: 0;box-sizing: border-box;}
body{margin: 0;font-size: 18px;color: #444;font-family: 'Nunito', sans-serif;user-select: none;overflow-x: hidden; background: linear-gradient(99.68deg, #000000 29.52%, #090B19 44.49%, #102A47 88.31%);}

li{list-style: none;}
a{text-decoration: none;}
.bxLogin{
  background-image: url(https://arunlalotra9.github.io/dashboard.github.io/images/Login.jpg);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}
.bxLogin::before{
position: absolute;
content: "";
width: 50%;
height: 100%;
border-radius: 0 20px 20px 0;
background: linear-gradient(139.07deg, #0E2948 13.12%, rgba(56, 78, 117, 0) 94.08%);
backdrop-filter: blur(10px);
border: 1px solid;
border-image-source: linear-gradient(344.83deg, #4999FE 7.71%, rgba(73, 153, 254, 0) 113%);
z-index: 0;
}
.bxLoginArea{
  position: relative;
  z-index: 1;
}
.bxLogin .row{
  min-height: 100vh;
}
.bxLogin .bxLgSize{
  font-size: 42px;
  font-weight: 700;
}
.bxRightBox input {
  background-color: #010F33;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.bxRightBox .form-control:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #010F33;
  border-color: rgba(255, 255, 255, 0.4);
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,0);
}
.bxRightBox p{
  font-weight: 700;
  font-size: 20px;
}
.bxRightBox small{
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.bxBtn-primary{
  background: #1A4478;
  box-shadow: inset 0px 0px 150px rgba(73, 153, 254, 0.1);
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.bxBtn-primary:hover{
  background: #296fc3;
  color: #FFFFFF;
}
